<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"/>
</head>
<body>

<div th:if="${task !=null}">
<h2>Task detail</h2>
<table>
    <thead>
    <tr>
        <th th:text="#{taskTitle}"></th>
        <th th:text ="#{taskDescription}"></th>
        <th th:text="#{taskTime}"></th>
    </tr>
    </thead>
    <tbody>

    <td th:text="${task.title}"></td>
    <td th:text="${task.description}"></td>
    <td th:text="#{due}+' '+${task.time.month} +' '+ ${task.time.dayOfMonth}+' '+ ${task.time.year}+ ' '+ #{at} + ' '+${task.time.hour}+':'+ ${task.time.minute}"></td>
    </tbody>

</table>





<h2 th:text="#{subtasks}"/>



<table th:if="${subtasks!=null}" >
    <thead>
    <tr>
        <th th:text="#{taskTitle}"></th>
        <th th:text ="#{taskDescription}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="SubTask : ${subtasks}">
        <td th:text="${SubTask.title}"></td>
        <td th:text="${SubTask.description}"></td>
    </tbody>

</table>

<p th:if="${subtasks.size()==0}" th:text="#{noSubtaskFound}" />







<form method="post" th:action="@{/tasks/{id}/sub/create (id=${task.id})}">
    <h2 th:text="#{addSubtask}"/>
    <div>
        <label for="title" th:text="#{taskTitle}"/>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="description" th:text="#{taskDescription}"/>
        <input type="text" name="description" id="description">
    </div>

    <input type="hidden" name="mainTaskId" th:value="${task.getId()}"/>


    <input type="submit" th:value="#{addSubtask}"/>
</form>


</div>

<h1 th:if="${task}==null" th:text="#{taskNotFound}"/>

<a th:href="@{/tasks}" ><button th:text="#{BackToOverview }"/></a>



</body>

<div th:replace="footer"></div>


</html>
