<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"/>


    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
          href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<h2 th:text="#{taskOverview}"/>
<table>
    <div th:unless=" ${#lists.isEmpty(tasks)}">

        <thead>
        <tr>
            <th th:text="#{taskTitle}"></th>
            <th th:text="#{taskTime}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}+': '"></td>
            <td th:text="#{due}+' '+${task.time.month} +' '+ ${task.time.dayOfMonth}+' '+ ${task.time.year}+ ' '+ #{at} + ' '+${task.time.hour}+':'+ ${task.time.minute}"></td>
            <div><td><a th:href="@{/tasks/{id} (id=${task.id})}" th:text="#{description}"/>
                <a th:href="@{'/tasks/edit/' + ${task.id}}" th:text="#{edit}" /></td></div>
        </tbody>
    </div>
    <div th:if="${#lists.isEmpty(tasks)}">
        <p th:text="#{noTaskLeft}"/>

    </div>
</table>


<a th:href="@{/tasks/new}" ><button th:text="#{add_new_task}"/></a>

</body>


<div th:replace="footer"></div>

</html>

